@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script src="../../Scripts/spin.js" type="text/javascript"></script>
    <script>
        var spinner = null;

        $(document).ready(function ()
        {
            if (spinner === null && '@ViewBag.expectingResult' == 'True')
            {
                activateSpin();
            }

            setInterval(function ()
            {
                $.getJSON('/home/findnewresults', function (result)
                {
                    var newResults = result.Results;

                    if (newResults != "")
                    {
                        // Retreive and parse JSON data from result
                        var rowClass = "md-col-6";
 

                        var toSplit = result.indexOf('#');
                        var websiteValue = result.substring(0, toSplit);
                        var nameAndHtml = result.substring(toSplit + 1);
                        toSplit = nameAndHtml.indexOf('#');
                        var websiteName = nameAndHtml.substring(0, toSplit);
                        var html = nameAndHtml.substring(toSplit + 1);

                        // Append new result into website
                        $('#resultsList' + websiteValue).replaceWith(
                            "<h2>" + websiteName + "</h2>" +
                            "<div class=" + rowClass + ">" +
                                    html +
                                "</div>");
                        
                        if (spinner !== null)
                        {
                                var target = document.getElementById('spin');
                                spinner.stop(target);
                        }
                    }
                    }
                );
            }, 10000);
        });

        function activateSpin()
        {
            var opts = null;

            if (spinner === null) {
                opts =
                {
                    lines: 9, // The number of lines to draw
                    length: 4, // The length of each line
                    width: 3, // The line thickness
                    radius: 4, // The radius of the inner circle
                    corners: 1, // Corner roundness (0..1)
                    rotate: 0, // The rotation offset
                    direction: 1, // 1: clockwise, -1: counterclockwise
                    color: '#000', // #rgb or #rrggbb or array of colors
                    speed: 1, // Rounds per second
                    trail: 60, // Afterglow percentage
                    shadow: false, // Whether to render a shadow
                    hwaccel: false, // Whether to use hardware acceleration
                    className: 'spinner', // The CSS class to assign to the spinner
                    zIndex: 2e9, // The z-index (defaults to 2000000000)
                    top: 'auto', // Top position relative to parent in px
                    left: 'auto' // Left position relative to parent in px
                };
            }

            $('#resultsListAllJobs').append("<div id='loadingAllJobs'>Loading...</div>");
            $('#resultsListJobMaster').append("<div id='loadingJobMaster'>Loading...</div>");
            $('#resultsListDrushim').append("<div id='loadingDrushim'>Loading...</div>");
            $('#resultsListIndeed').append("<div id='loadingIndeed'>Loading...</div>");
            spinner = new Spinner(opts).spin();
            var target = document.getElementById('spin');
            target.appendChild(spinner.el);
        }

        $("#SearchJobForm").on("submit", function (e)
        {
            if ($("#searchString").val() === "")
            {
                e.preventDefault();
                alert("Please enter the job you would like to search for");
                return false;
            
            }

            return true;
        });
    </script>
}

<div class="jumbotron">
    <h1>JobSearcher</h1>
    <p class="lead">JobSearcher makes searching for jobs easy.  Just type in the kind of job you're looking for and we will search multiple job sites to get the most accurate information.</p>
</div>
 @using (Html.BeginForm("SearchJob", "Home", FormMethod.Post, new { id = "SearchJobForm"}))
    {

            <div style="font-weight: bold" id="searchJobForm" class="well col-xs-6">
                Job Type: <input type="text" name="searchString" id="searchString" />
        <input type="submit" value="Search Job" />
        </div>

    }
<br />
<br />
<br />
<br />
<br />
    <div class="row">
    @foreach(string[] result in ViewBag.results) {
    //@for (int i = 0; i < Enum.GetValues(typeof(WebRole1.Models.JobSiteEnum)).Length; i++) { <% Response.write('resultsList' + i) %>
        
        <div class="col-md-6" id="resultsList0">
            <h1>@Html.Raw(result[1])</h1>
            @Html.Raw(result[2]);
            <div class="spinner-position" id="spin"></div>
        </div>
    }
    </div>
    